/* Pass to sass */
#app {
    height: 100vh;
}


.my_account {
    text-align: center;
}

.account {
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cumulated_points > p {
    margin: 0;
}

.cumulated_points > p:nth-child(1) {
    font-size:  2rem;
    margin: 30px 0 0;
}

.today-objectives .date {
    margin: 20px auto;
    width: fit-content;
}

.today-objectives .hour {
    display: inline-block;
}

.today-objectives .objective {
    margin: 10px;
}

.today-objectives .program {
    display: flex;
    flex-direction: row;
    height: 35px;
    margin: 10px 0 10px 20px;
}

.today-objectives .program span {
    width: 15%;
}

.today-objectives .empty-objectives {
    text-align: center;
    margin-top: 200px;
}

.empty-objectives > svg {
    font-size: 60px;
    color: antiquewhite;
}

.svg-inline--fa {
    font-size: 25px;
}
