/* Pass to sass */
#app {
    height: 100vh;
}


.my_account {
    text-align: center;
}

.account {
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cumulated_points > p {
    margin: 0;
}

.cumulated_points > p:nth-child(1) {
    font-size:  2rem;
    margin: 30px 0 0;
}

.svg-inline--fa {
    font-size: 25px;
}

.fa-dumbbell {
    transform: translateX(-3px) rotate(45deg);
}
